
page-header{
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 60%;

}

th {
    height: 50px;
    align-content: center;
}

td {
    height: 50px;
    align-content: center;
}
